news-list {

    .fakeItem {
        h1 {
            background-color: lightgrey;
            opacity: 0.5;
            width: 2em;
            height: 2em;
        }
        h2, h3, p {
          background-color: lightgrey;
          opacity: 0.5;
          height: 1em;
          margin-top: 10px;
        }
      
        h2 {
          width: 35%;
        }
      
        h3 {
          width: 40%;
        }  
      
        p {
          width: 60%;
        }
      }

      ion-label {
        white-space: normal;
      }

      .text-color-hn {
        color: map-get($colors, hacker-news);
      }

      .cursor-pointer {
        cursor: pointer;
      }

      .text-bold {
        font-weight: bold;
      }

      .color-gray {
        color: gray;
      }

}
